* {
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fafbff;
  background-image: url("/main/img/bg-pattern.svg");
  background-repeat: no-repeat;
}

.container {
  padding: 1.5rem;
}

h1 {
  font-size: 1.4rem;
  color: #293356;
}

p {
  font-size: 0.875rem;
  padding-top: 0.875rem;
  color: #858fad;
}

.title {
  background-image: url(/main/img/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.title__text {
  text-align: center;
}

.card {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
}

@media (max-width: 39.9375em) {
  .card {
    text-align: center;
  }
}

@media (min-width: 40em) {
  .card {
    max-width: 650px;
  }
}

.card__top {
  padding: 3rem 1rem;
  text-align: center;
}

.card__page-view {
  font-size: 0.875rem;
  color: #858fad;
  letter-spacing: 0.125rem;
  padding-bottom: 2rem;
}

@media (min-width: 40em) {
  .card__page-view {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

.card__price {
  padding: 2rem 0 2rem;
  font-size: 0.875rem;
  color: #858fad;
}

@media (min-width: 40em) {
  .card__price {
    position: absolute;
    top: 0;
    right: 90px;
    font-weight: bold;
  }
}

.card__billing {
  font-size: 0.7rem;
  color: #858fad;
}

@media (min-width: 40em) {
  .card__billing {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
}

.card__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  background-color: #cdd7ee;
  outline: none;
}

@media (min-width: 40em) {
  .card__range {
    margin-bottom: 3rem;
    width: 80%;
  }
}

.card__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #10d5c2;
  background-image: url(/main/img/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.card__range::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 10px #10d5c2;
          box-shadow: 0 0 10px #10d5c2;
}

.card__price-cost {
  color: #293356;
  font-size: 2rem;
}

.card__switcher {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.card__switcher > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.card__check {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.card__check::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
}

input:checked + .card__check {
  background-color: #a5f3eb;
}

input:checked + .card__check:before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.card__discount {
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0 9px;
  margin-left: 0.2rem;
  background-color: #feece7;
  border-radius: 30px;
  color: #ff8c66;
}

.card__bottom {
  padding: 3rem 2rem;
}

@media (min-width: 40em) {
  .card__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card__bottom > ul {
  font-size: 0.875rem;
  color: #858fad;
  list-style-image: url(/main/img/icon-check.svg);
  list-style-position: inside;
  line-height: 2;
}

.card__button {
  margin-top: 3rem;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border-style: none;
  background-color: #293356;
  color: #cdd7ee;
  font-size: 0.775rem;
  font-family: 'Manrope', sans-serif;
  outline: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

@media (min-width: 40em) {
  .card__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0;
  }
}

.card__button:hover {
  opacity: 0.75;
}

@media (max-width: 39.9375em) {
  .hide {
    display: none;
  }
}

hr {
  border: 1px solid #eaeefb;
}
/*# sourceMappingURL=style.css.map */